{{#each posts}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h1><a href="/posts/{{this.id}}">
      {{title}}
    </a></h1>
    <p>{{author}}</p>
    <p>{{body}}</p>
  </div>
</div>
<!-- {{#if this.bio}}
  <div clas="panel-body">{{this.bio}}</div>
{{/if}} -->
{{/each}}
