{{#response}}
<div class="container">
<h1 class="post-title">{{title}}</h1>
<img class="product-img" src="{{image.src}}" />
<p>{{body_html}}</p>
{{#each variants}}
<p>SKU:{{sku}}</p>
<p>${{price}}</p>
<p>{{weight}}LB</p>
{{/each}}
<a href="/edit-product/{{this.id}}" class="btn">Edit Post</a>
</div>
{{/response}}
